[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-admin = "*"
jwt = "*"
marshmallow-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
flask-restful = "*"
flask-migrate = "*"
flask-login = "*"
psycopg2-binary = "*"
psycopg2 = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.12"
